In [1]:
import pandas as pd

In [2]:
data2 =  pd.read_csv('street_london2')

In [3]:
data2.head()

,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Context
0,37c663d86a53d4d8a0f633da20f60b89f201946e457613...,2020-01,City of London Police,City of London Police,-0.106453,51.518207,On or near Charterhouse Street,E01000916,Camden 027B,Theft from the person,Investigation complete; no suspect identified,NaN
1,5b89923fa5e0c063cc0f790d720dcda5b97233f83a59a6...,2020-01,City of London Police,City of London Police,-0.117684,51.522003,On or near Rugby Street,E01000920,Camden 027D,Drugs,Court result unavailable,NaN
2,07172682a8b21c30ad259613b19fade5e77da530b4cfe6...,2020-01,City of London Police,City of London Police,-0.111962,51.518494,On or near Nightclub,E01000914,Camden 028B,Other theft,Investigation complete; no suspect identified,NaN
3,14e02a6048afd13151cb18261285cca2754316d18a1147...,2020-01,City of London Police,City of London Police,-0.111497,51.518226,On or near Pedestrian Subway,E01000914,Camden 028B,Other theft,Unable to prosecute suspect,NaN
4,fb3350ce8e04310c4763ea0f9622c7326e6323b72d7c3b...,2020-01,City of London Police,City of London Police,-0.113256,51.516824,On or near Old Square,E01000914,Camden 028B,Other theft,Investigation complete; no suspect identified,NaN

In [4]:
stringency = pd.read_csv('stringency.csv')

In [5]:
stringency.head()

         date  stringency
0  2020-03-01      37.484
1  2020-03-01      37.484
2  2020-03-01      37.484
3  2020-03-01      37.484
4  2020-03-01      37.484

In [9]:
stringency_dups_rm = stringency.drop_duplicates()

In [14]:
stringency_dups_rm

           date  stringency
0    2020-03-01   37.484000
31   2020-04-01   79.630000
61   2020-05-01   74.045000
92   2020-06-01   70.978966
122  2020-07-01   65.184000
153  2020-08-01   67.560333
184  2020-09-01   65.611379
214  2020-10-01   67.901333
245  2020-11-01   68.100690
275  2020-12-01   86.885161
276  2021-01-01   86.885161
307  2021-02-01   87.480370
335  2021-03-01   79.536000
366  2021-04-01   64.303103
396  2021-05-01   61.156333
427  2021-06-01   52.539310
457  2021-07-01   48.179000
488  2021-08-01   43.980000
519  2021-09-01   42.034000

In [31]:
def change_date(item):
    
        return item[:7]

In [32]:
stringency_dups_rm['date'] = stringency_dups_rm['date'].apply(change_date)

<ipython-input-32-a145fbcd6881>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stringency_dups_rm['date'] = stringency_dups_rm['date'].apply(change_date)

In [33]:
stringency_dups_rm

        date  stringency
0    2020-03   37.484000
31   2020-04   79.630000
61   2020-05   74.045000
92   2020-06   70.978966
122  2020-07   65.184000
153  2020-08   67.560333
184  2020-09   65.611379
214  2020-10   67.901333
245  2020-11   68.100690
275  2020-12   86.885161
276  2021-01   86.885161
307  2021-02   87.480370
335  2021-03   79.536000
366  2021-04   64.303103
396  2021-05   61.156333
427  2021-06   52.539310
457  2021-07   48.179000
488  2021-08   43.980000
519  2021-09   42.034000

In [37]:
data2.merge(stringency_dups_rm, left_on='Month', right_on='date')

,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Context,date,stringency
0,6260583e3136d959b5b2b2f7a73f46500ee7dd0e6f3d96...,2020-03,City of London Police,City of London Police,-0.112422,51.515381,On or near Star Yard,E01000914,Camden 028B,Other theft,Investigation complete; no suspect identified,NaN,2020-03,37.484
1,2ff6f7e089bd414c91e0e3adf0f172bbc2c029a711aa6d...,2020-03,City of London Police,City of London Police,-0.111497,51.518226,On or near Pedestrian Subway,E01000914,Camden 028B,Public order,Unable to prosecute suspect,NaN,2020-03,37.484
2,5916a931657687f5abcf3aa84aa09242ce38b4ac490344...,2020-03,City of London Police,City of London Police,-0.113256,51.516824,On or near Old Square,E01000914,Camden 028B,Public order,Investigation complete; no suspect identified,NaN,2020-03,37.484
3,dfefef6c1927b155ee3f90cfb6960cc42e331c690d33b2...,2020-03,City of London Police,City of London Police,-0.111962,51.518494,On or near Nightclub,E01000914,Camden 028B,Public order,Court result unavailable,NaN,2020-03,37.484
4,eaaffe4c22a84ce97bc40657076d00ac4db37c64e2b2d6...,2020-03,City of London Police,City of London Police,-0.111497,51.518226,On or near Pedestrian Subway,E01000914,Camden 028B,Theft from the person,Investigation complete; no suspect identified,NaN,2020-03,37.484
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1818742,2d773949f21e573212ea86ebdc29720e1ba885b28c5260...,2021-09,Metropolitan Police Service,Metropolitan Police Service,NaN,NaN,No Location,NaN,NaN,Other crime,Investigation complete; no suspect identified,NaN,2021-09,42.034
1818743,370a5171b8b44f465aa64a6dcfa7000ea42edaba64e2ac...,2021-09,Metropolitan Police Service,Metropolitan Police Service,NaN,NaN,No Location,NaN,NaN,Other crime,Awaiting court outcome,NaN,2021-09,42.034
1818744,3ba43f396c4615f8b4455b81adfa483df1452daaf7266c...,2021-09,Metropolitan Police Service,Metropolitan Police Service,NaN,NaN,No Location,NaN,NaN,Other crime,Under investigation,NaN,2021-09,42.034
1818745,f008e359543fb3c4cdf88c244e0139ee2b9267839b1360...,2021-09,Metropolitan Police Service,Metropolitan Police Service,NaN,NaN,No Location,NaN,NaN,Other crime,Investigation complete; no suspect identified,NaN,2021-09,42.034
1818746,45d1a89c0f01b24f5007d475cebe98658488ac35fe3811...,2021-09,Metropolitan Police Service,Metropolitan Police Service,NaN,NaN,No Location,NaN,NaN,Other crime,Awaiting court outcome,NaN,2021-09,42.034